* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    color: #333;
    padding-top: 60px; 
}

nav {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000; 
}

ul {
    list-style: none;
    display: flex;
    gap: 20px; 
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: black; 
}

.register-form {
    margin-top: 70px; 
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 80px 0; 
    animation: fadeIn 1s ease-in-out forwards; 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px black; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black; 
}

@media (max-width: 600px) {
    .register-form {
        margin: 20px; 
    }

    nav ul {
        flex-direction: column;
    }
}


.title {
    text-align: center;
    margin-top: 70px; 
}

.mainTitle {
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 3rem;
    margin: 0;
    animation: fadeIn 10s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



