* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    color: #333;
    padding-top: 60px; 
}

nav {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000; 
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px; 
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: black; 
}

.register-form, .login-form {
    margin-top: 70px; 
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 80px 0; 
    animation: fadeIn 1s ease-in-out forwards; 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px black; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black; 
}

.profile-container {
    width: 100%;
    max-width: 800px; 
    background: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 80px 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.profile-container > div {
    margin-bottom: 30px; 
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%; 
}

.profile-picture-upload, .properties-section {
    margin-bottom: 20px;
}

.current-properties table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px; 
}

.current-properties th, .current-properties td {
    border: 1px solid #ddd; 
    text-align: left;
    padding: 10px; 
}

.current-properties th {
    background-color: #333;
    color: white;
    font-size: 1.1rem;
}

.current-properties td {
    background-color: #f0f0f0;
    color: #333;
}

.current-properties tr:nth-child(even) {
    background-color: #eee;
}

.current-properties tr:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    .register-form, .profile-container {
        margin: 20px; 
    }

    .user-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-pic {
        margin-top: 20px;
        align-self: center; 
    }

    nav ul {
        flex-direction: column;
    }

    .current-properties table {
        border: 0;
    }

    .current-properties thead {
        display: none;
    }

    .current-properties tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    .current-properties td {
        display: block;
        text-align: right;
        font-size: 0.8rem;
        border-bottom: 1px dotted #ccc;
    }

    .current-properties td:last-child {
        border-bottom: 0;
    }

    .current-properties td::before {
        content: attr(data-label); 
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.title {
    text-align: center;
    margin-top: 70px; 
}

.mainTitle {
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 3rem;
    margin: 0;
    animation: fadeIn 10s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#search-form {
    text-align: center;
    margin-bottom: 20px;
  }

  #property-list,
  #news-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .property-item,
  .news-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
  }

  .container {
    width: 80%;
    margin: 20px auto;
  }

  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }